
* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(32, 31, 31);
    color: antiquewhite;
}

.formularioDiv {
  margin: 15px 0px 15px 12px; 
  align-items: center;
  border: solid;
  border-color: rgb(32, 31, 31); 
  
}
#formulario {
  border: solid;
  border-color: rgba(0, 253, 55, 0.736);
}

.input {
  height: 30px;
  width: 300px;
  font-size: large;
  font-weight: bold;
}

.button {
  height: 50px;
  width: auto;
  font-weight: bolder;
}

input[type=checkbox]:checked ~ label {
  text-decoration: line-through;
}