@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(32, 31, 31);
    color: antiquewhite;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 3px solid lightcoral;
    background-color: rgb(241, 214, 214);
    color: rgb(251, 66, 66);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

#counter {
    display: flex;
}

#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 32px;
    font-weight: bold;
}